$black: #313131;
$cloudy-blue: #bac3cc;
$aqua: #01d8c7;
$salmon: #f86868;
$skyblue: #08b3ff;
$brown-grey: #a8a8a8;
$greyish-brown: #4b4b4b;
$white: #ffffff;
$brownish-grey: #707070;
$very-light-pink: #dddddd;
$banana: #ffff7c;
$peacock-blue: #0065a2;
$turquoise: #00bfb0;
$cool-grey: #a2a6aa;
$light-salmon: #ff7676;
$very-light-blue: #e1e8ef;
$dark-grey-blue: #29485c;
$very-light-grey: #f7f7f7;
$azure: #10a3ff;

$iconActiveColor: '00bfb0';
$iconDefaultColor: '4b4b4b';
$iconHoverColor: '4b4b4b';


