.input__input-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  background-color: #fff;
  border: 1px solid #DADDE4;
  --tw-shadow: 0 0 transparent;
  &:checked {
    background-color: $primary-blue-4-c-8-cff;
    border-color: $primary-blue-4-c-8-cff;
    background-image: url("/images/E/COMMON/btn-checkbox-active.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
