.datepicker-container {
  width: 300px;
  height: 333px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(39, 70, 127, 0.15);
  border: solid 1px rgba(47, 208, 163, 0.8);
  background-color: $neutral-white-ffffff;
  .datepicker-panel>ul:after,
  .datepicker-panel>ul:before {
    content: none;
  }
  .datepicker-panel>ul>li:hover {
    background-color: transparent;
  }
  .datepicker-top {
    padding: 21px 26px 19px;
    display: flex;
    justify-content: space-between;
    &-current {
      font-size: 15px;
      font-weight: 600;
      color: $neutral-black-32373-c;
      width: auto;
      height: 16px;
      line-height: 1;
    }
  }
  .datepicker-week {
    padding: 0 17px;
    li {
      color: $neutral-gray-b-3-b-7-c-5;
      @include setText(13,500);
      width: 38px;
      height: 40px;
      line-height: 40px;
    }
  }
  .datepicker-days {
    padding: 0 17px 17px;
    li {
      @include setText(13,500);
      color: $blue-grey;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      line-height: 38px;
      &:not(.muted, .disabled):hover {
        color: $secondary-green-2-fd-0-a-3;
        background-color: $secondary-green-f-1-fbf-8;
      }
      &.muted {
        opacity: .3;
        background-color: transparent;
      }
      &.highlighted {
        background-color: transparent;
        color: $neutral-black-32373-c;
      }
      &.picked {
        color: $neutral-white-ffffff;
        background-color: $secondary-green-2-fd-0-a-3;
      }
    }
  }
  .datepicker-panel {
    &.days {
      padding-bottom: 17px;
    }
    .months-list,
    .years-list {
      height: 277px;
      overflow: scroll;
      width: 100%;
      li {
        height: 36px;
        line-height: 36px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 110px 50%;
        font-size: 14px;
        color: $neutral-gray-9499-ab;
        &:hover {
          background-color: $secondary-green-f-1-fbf-8;
        }
        &.highlighted {
          background-color: transparent;
          color: $neutral-black-32373-c;
        }
        &.picked {
          background-color: $neutral-white-100;
          color: $secondary-green-2-fd-0-a-3;
          background-image: icon(selectCheck, '$iconGreenColor');
        }
      }
    }
    .months-list {
      li {
        background-position: 119px 50%;
      }
    }
  }
}
.datepicker-container:after, .datepicker-container:before {
  content: none;
}
.datepicker-panel > ul > li.arrow {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 16px;
  width: 16px;
  &:hover {
    background-color: transparent;
  }
  &.prev {
    background-image: icon(arrowLeft, '9499AB');
    &:hover {
      background-image: icon(arrowLeft, '000');
    }
  }
  &.next {
    background-image: icon(arrowRight, '9499AB');
    &:hover {
      background-image: icon(arrowRight, '000');
    }
  }
}

.swal-button {
  &.red {
    background: $secondary-red-ff-4-d-75;
    &:not([disabled]):hover {
      background: $secondary-red-400;
    }
  }
  &.primary {
    background: $primary-blue-4-c-8-cff;
    &:not([disabled]):hover {
      background: $secondary-navy-27467-f
    }
  }
}
