.layer-popup {
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  &.is--show {
    display: flex;
  }
  &-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &-content {
    max-width: 960px;
    height: 536px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(39, 70, 127, 0.3);
    background-color: $neutral-white-ffffff;
    z-index: 11;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    &.layer-content-shop-setting {
      max-width: 600px;
      height: 666px;
      overflow-y: hidden;
      @include respond-to(950, 'max-height') {
        height: 80%;
      }
      .first-content,
      .next-content,
      form {
        height: 100%;
      }
      .layer-popup-content-content {
        padding: 30px 10px 0;
        height: calc(100% - 58px);
        &-inner {
          padding: 0 30px;
          overflow-y: auto;
          height: calc(100% - 101px);
          //height: 447px;
          .layer-popup-content-scroll {
            padding-bottom: 40px;
          }
        }
      }
    }
    &.register {
      max-width: 1100px;
      height: 900px;
      overflow-y: hidden;
      @include respond-to(950, 'max-height') {
        height: 80%;
      }
      .layer-popup-header {
        position: sticky;
        top: 0;
        z-index: 15;
      }
      .layer-popup-content-content {
        padding: 0;
        overflow-y: auto;
        height: calc(100% - 58px);
        &-inner {
          min-height: 700px;
          padding: 30px;
        }
      }
      @include respond-to(990) {
        height: 536px;
      }
    }
    &.preview {
      max-width: 960px;
      height: 700px;
      overflow-y: hidden;
      @include respond-to(950, 'max-height') {
        height: 80%;
      }
      .layer-popup-header {
        position: sticky;
        top: 0;
        z-index: 15;
      }
      .layer-popup-content-content {
        padding: 20px;
        height: calc(100% - 58px);
        &-inner {
          padding: 0 30px;
          overflow-y: auto;
          height: 100%;
          border: solid 1px $neutral-gray-edeff-4;
          background-color: $neutral-white-ffffff;
          .layer-popup-content-scroll {
            min-height: 700px;
            img {
              max-width: 100%;
            }
          }
        }
      }
      @include respond-to(990) {
        height: 536px;
      }
    }
    &.search {
      max-width: 960px;
      height: 700px;
      overflow-y: hidden;
      @include respond-to(950, 'max-height') {
        height: 80%;
      }
      .layer-popup-header {
        position: sticky;
        top: 0;
        z-index: 15;
      }
      .search-content {
        padding: 30px 24px;
        background-color: $neutral-gray-f-9-fafc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $neutral-gray-f-9-fafc;
        .search-button {
          &-area {
            display: inline-flex;
            align-items: center;
          }
          width: 63px;
          height: 32px;
          border-radius: 16px;
          background-color: $primary-blue-4-c-8-cff;
          font-size: 13px;
          font-weight: 600;
          color: $neutral-white-ffffff;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #3B78E5;
          }
        }
        .search-refresh-button {
          margin-left: 10px;
          width: 32px;
          height: 32px;
          border-radius: 16px;
          border: solid 1px $neutral-gray-c-6-c-9-d-3;
          background-color: $neutral-white-ffffff;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-image: icon(refresh, '979AA5');
          &:hover {
            background-color: #F6F7FC;
            background-image: icon(refresh, '6A6C75');
          }
        }
      }
      .layer-popup-content-content {
        padding: 30px 24px;
        height: calc(100% - 58px);
        &-inner {
          //overflow-y: auto;
          //height: 100%;
          //border: solid 1px $neutral-gray-edeff-4;
          //background-color: $neutral-white-ffffff;
          .layer-popup-content-scroll {
            min-height: 700px;
            img {
              max-width: 100%;
            }
          }
        }
        .search-info {
          &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
          }
          font-size: 12px;
          color: $neutral-gray-6-a-6-c-75;
        }
        .search-apply-button {
          font-size: 12px;
          color: $neutral-black-32373-c;
          width: 45px;
          height: 24px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          border: solid 1px $neutral-gray-979-aa-5;
          background-color: $neutral-white-ffffff;
          &:hover {
            background-color: #F6F7FC;
          }
          &.disabled {
            border: solid 1px $neutral-gray-edeff-4;
            background-color: $neutral-gray-f-9-fafc;
            color: $neutral-gray-dadde-4;
            cursor: default;
          }
        }
      }
      @include respond-to(990) {
        height: 536px;
      }
      .search-content-img {
        width: 36px;
        height: 36px;
        border-radius: 4px;
        object-fit: contain;
        overflow: hidden;
        margin: 0 auto;
      }
    }
    @include respond-to(990) {
      width: 95%;
      overflow-x: hidden;
    }
    &-content {
      padding: 30px;
      .next-content {
        position: relative;
        display: none;
      }
    }
    &.is--next-popup {
      width: 700px;
      height: 360px;
    }
    &.small {

    }
  }
  &-header {
    position: relative;
    background-color: #343e50;
    padding: 19px 24px;
    display: flex;
    align-items: center;
    height: 58px;
    .layer-popup__ {
      &title {
        font-size: 18px;
        font-weight: 600;
        color: $neutral-white-ffffff;
        span {
          display: inline-block;
          position: absolute;
          left: 24px;
          width: 70%;
          top: 19px;
        }
        .next-title {
          display: none;
          left: 59px;
        }
      }
      &close-button {
        top: 17px;
        right: 24px;
        width: 24px;
        height: 24px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: transparent;
        background-image: icon(close, 'fff');
      }
      &prev-button {
        display: none;
        width: 24px;
        position: relative;
        z-index: 11;
        height: 24px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: transparent;
        background-image: icon(back, 'fff');
      }
    }
  }
}

.table {
  color: $neutral-black-32373-c;
  font-size: 13px;
  border-collapse: collapse;
  width: 100%;
  &-scroll-area {
    @include respond-to(990) {
      width: 100%;
      overflow-x: scroll;
      .table-scroll {
        width: 900px;
      }
    }
  }
  &.with--input {
    td {
      height: auto;
    }
  }
  & + .table__subject {
    margin-top: 30px;
  }
  &__subject {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  th {
    background-color: $neutral-gray-f-6-f-7-fc;
    height: 46px;
    font-weight: normal;
  }
  td {
    height: 46px;
    font-weight: 500;
  }
  .px-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .px-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  &.vertical {
    text-align: left;
    border-top: 1px solid $neutral-gray-dadde-4;
    border-bottom: 1px solid $neutral-gray-dadde-4;
    tr {
      border-bottom: 1px solid $neutral-gray-edeff-4;
      &:last-child {
        border-bottom: none;
      }
    }
    th {
      width: 140px;
    }
    td {

    }
    &.other-type {
      .left--fix {
        width: 160px;
        border-right: 1px solid $neutral-gray-edeff-4;
      }
      td {
        height: 60px;
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }
  }
  &.horizontal {
    text-align: center;
    box-sizing: content-box;
    border-top: 1px solid $neutral-gray-dadde-4;
    border-bottom: 1px solid $neutral-gray-dadde-4;
    th, td {
      box-sizing: content-box;
    }
    th {
      height: auto;
      padding-top: 12px;
      padding-bottom: 12px;
      line-height: 1.31;
    }
    td {
      padding-top: 18px;
      padding-bottom: 18px;
      line-height: 1.54;
    }
    .width-- {
      &shipping {
        width: 98px;
        padding-left: 16px;
        &:not(th) {
        }
      }
      &product {
        width: 154px;
      }
      &amount {
        width: 88px;
      }
      &price {
        width: 120px;
      }
      &date {
        width: 138px;
      }
      &number {
        width: 74px;
      }
      &button {
        padding-right: 16px;
      }
    }
  }
  &.right-line {
    td {
      padding-bottom: 14px;
      &:not(:last-child) {
        border-right: 1px solid #f0f1f3;
      }
    }
  }
  &-button {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: $primary-blue-4-c-8-cff;
    padding: 5px 8px;
    border-radius: 3px;
    border: solid 1px $primary-blue-4-c-8-cff;
    background-color: $neutral-white-ffffff;
    &.position-top {
      position: absolute;
      top: -5px;
      right: 0;
    }
    &:hover {
      color: $primary-blue-3-b-78-e-5;
      border-color: $primary-blue-3-b-78-e-5;
    }
    &.wide {
      padding: 5px 12px;
    }
  }
}
.option-table {
  text-align: center;
  thead {
    background-color: $neutral-gray-f-6-f-7-fc;
  }
  th {
    padding: 17px 0;
    font-weight: normal;
    border-right: 1px solid $neutral-gray-edeff-4;
    &:last-child {
      border-right: none;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $neutral-gray-edeff-4;;
    }
  }
  td {
    padding: 18px 0;
    border-right: 1px solid $neutral-gray-edeff-4;
    &:last-child {
      border-right: none;
    }
  }
}

.option-table-area-body {
  width: 100%;
  height: 405px;
  overflow-y: auto;
  .no-data {
    border-bottom: 0;
    .option-table-content {
      padding-top: 182px;
      font-size: 14px;
      line-height: 1.43;
      color: $neutral-black-32373-c;
    }
  }
  .option-table {
    border-top: 0;
  }
  &.fixed {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  }
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $neutral-gray-dadde-4;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c8c7c7;
  }
  td {
    width: 45px;
    @include respond-to(990) {
      width: 4.934%;
    }
    & + td {
      width: 150px;
      @include respond-to(990) {
        width: 16.4%;
      }
      & + td {
        width: 120px;
        @include respond-to(990) {
          width: 13.157%;
        }
        & + td  + td {
          width: 75px;
          @include respond-to(990) {
            width: 8.22%;
          }
          & + td {
            width: 214px;
            @include respond-to(990) {
              width: 23.46%;
            }
            & + td {
              width: 90px;
              @include respond-to(990) {
                width: 9.86%;
              }
            }
          }
        }
      }
    }
  }
}
.option-table-area-head {
  padding-right: 4px;
  background-color: $neutral-gray-f-6-f-7-fc;
  th {
    width: 45px;
    @include respond-to(990) {
      width: 4.934%;
    }
    & + th {
      width: 150px;
      @include respond-to(990) {
        width: 16.4%;
      }
      & + th {
        width: 120px;
        @include respond-to(990) {
          width: 13.157%;
        }
        & + th  + th {
          width: 75px;
          @include respond-to(990) {
            width: 8.22%;
          }
          & + th {
            width: 214px;
            @include respond-to(990) {
              width: 23.46%;
            }
            & + th {
              width: 90px;
              @include respond-to(990) {
                width: 9.86%;
              }
            }
          }
        }
      }
    }
  }
}
